<form method="post" action="/pizza_orders">
  
<label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name">
<br />

<label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name">
<br />

<label for="quantity">Quantity:</label>
  <input type="number" min=0 id="quantity" name="quantity">
<br />

<label for="topping">Topping:</label>
  <select id="pizza_select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Italian Sausage">Italian Sausage</option>
    <option value="Pepperoni">Pepperoni</option>
  </select>
<br />

<input type="submit" value="Order Pizza"/>
</form>
